In [12]:
import pandas as pd

In [7]:
people = pd.read_csv('data/people.csv')

In [13]:
people.head()

  name\tage\tcountry\tsibilings\tfavourite_color\tcredit
0              Erika Schumacher\t22\tDE\t2\tRed\t100
1                  Javi López\t50\tES\t5\tYellow\t95
2                Maria Rovira\t23\tES\t4\tYellow\t89
3                  Ana Garamond\t29\tES\t1\tBlue\t88
4                 Shekhar Biswas\t44\tIN\t3\tRed\t89